fastapi==0.121.1
uvicorn==0.38.0
python-dotenv==1.2.1
python-multipart==0.0.20
requests==2.32.5
beautifulsoup4==4.14.2
faster-whisper==1.2.1
pyannote-audio==4.0.1
torchaudio==2.9.0
torch==2.9.0
soundfile==0.13.1
ffmpeg-python==0.2.0
summa==1.2.0
